<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>
    <ul>
        {% for todo in todo_list %}
            <li>{{ todo['task'] }} - {{ todo['created_at'] }}</li>
            <a href="/delete/{{ todo['id'] }}">Delete</a>
            <a href="/edit/{{ todo['id'] }}">Edit</a>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Enter task">
        <button type="submit">Add Task</button>
    </form>
</body>
</html>
