<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>ログイン</h1>
        <div class="error-message" style="display: none; color: red;"></div>
        <form id="loginForm">
            <div class="form-group">
                <label for="identifier">メールアドレスまたはユーザー名:</label>
                <input type="text" id="identifier" name="identifier" required>
            </div>
            <div class="form-group">
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">ログイン</button>
            </div>
        </form>
        <p><a href="{{ url_for('auth.register') }}">新規会員登録の方はこちら</a></p>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const identifierValue = document.getElementById('identifier').value;
            const passwordValue = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ identifier: identifierValue, password: passwordValue })
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/";
                } else {
                    return response.json().then(data => { throw new Error(data.message) });
                }
            })
            .catch(error => {
                const errorMessageElement = document.querySelector('.error-message');
                if (errorMessageElement) {
                    errorMessageElement.textContent = error.message;
                    errorMessageElement.style.display = 'block';
                }
            });
        });
    </script>
</body>
</html>
