<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content">
        <!-- ログインフォーム -->
	<h1>ログイン</h1>
	{% if message %}
	    <p class="error-message">{{ message }}</p>
	{% endif %}
	<form action="/login" method="post">
	    <div class="form-group">
                <!-- メールアドレスまたはユーザー名入力フィールド -->
                <label for="identifier">メールアドレスまたはユーザー名:</label>
                <input type="text" id="identifier" name="identifier" required>
	    </div>
	    <div class="form-group">
                <!-- パスワード入力フィールド -->
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" required>
	    </div>
            <!-- ログインボタン -->
            <button type="submit">ログイン</button>
        </form>
        <a href="{{ url_for('auth.register') }}">新規会員登録の方はこちら</a>
    </div>
</body>
</html>
